<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ParKING - Reservation</title>
    <style>
        body {
          font-family: Arial;
          background-color: #f2f2f2;
          margin: 0;
          padding: 0;
        }
  
        header {
          background-color: #333;
          color: #fff;
          padding: 20px;
          text-align: center;
        }
  
        h1 {
          margin: 0;
          font-size: 48px;
        }
    </style>
</head>
<body>
    <header>
        <h1>ParKING</h1>
    </header>
    <main>
        <form methon="post" id="reservation_form" data-uni>
            {% csrf_token %}
            {{ form.as_p }}
        </form>
    </main>
</body>
</html>